{% extends 'base.html.twig' %}

{% block title %}New VoyageOrganiser{% endblock %}

{% block body %}
    <h1>Create new VoyageOrganiser</h1>

    {{ include('voyage_organiser/_form.html.twig') }}

    <a href="{{ path('voyage_organiser_index') }}">back to list</a>
{% endblock %}
