{% extends 'base.html.twig' %}

{% block title %}New AgenceVoyage{% endblock %}

{% block body %}
    <h1>Create new AgenceVoyage</h1>

    {{ include('agence_voyage/_form.html.twig') }}

    <a href="{{ path('agence_voyage_index') }}">back to list</a>
{% endblock %}
